{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
News list
{% endblock title %}

{% block content %}

<h1>News list:</h1>
    <div align="left">
        <h3>News count: {{ news|length }}</h3>
        <hr>
        {% for new in news %}
            <p>{{ new.title|censor }} {{ new.dateCreation|date:'d-m-Y h:i'}}</p>
            <p>{{ new.text|truncatechars:50|censor }}</p>
            <a href="{{ new.pk }}">Read more...</a>
            <hr>
        {% empty %}
            <p>No news here!</p>
        {% endfor %}
    </div>
{% endblock content %}
